Banner ---DIR-BASH---/banner.txt
HostKey ---DIR-BASH---/host_key
AuthorizedKeysFile ---DIR-BASH---/authorized_keys
PidFile ---DIR-BASH---/sshd_pid
PasswordAuthentication no
ChallengeResponseAuthentication no
StrictModes no
AcceptEnv *
Subsystem sftp /usr/lib/openssh/sftp-server
