Banner ---DIR-BASH---/banner.txt
HostKey ---DIR-BASH---/ssh_host_ed25519_key
AuthorizedKeysFile ---DIR-BASH---/authorized_keys
PidFile ---DIR-BASH---/sshd_pid
PasswordAuthentication yes
ChallengeResponseAuthentication yes
StrictModes no
AcceptEnv *
Subsystem sftp /usr/lib/openssh/sftp-server
